body{
  margin:0;
  background:#e3e4e6;
  font:13px/16px  Arial, Helvetica, sans-serif;
  color:#fff;
}
img{border-style:none;}
a{
  text-decoration:none;
  color:#000;
}
a:hover{text-decoration:underline;}
#wrapper{
  min-width:1003px;
  margin:0 auto;
}
#header{
  min-height:155px;
  width:970px;
  margin:0 auto;
  overflow:hidden;
  padding:19px 0 0;
}
#header .logo {
  float:left;
  background:url(../images/logo.png) no-repeat;
  width:450px;
  height:152px;
  text-indent:-9999px;
  overflow:hidden;
  margin-right:16px;
}
#header .logo a {
  display:block;
  height:100%;
}
#header .item{
  float:left;
  background:url(../images/bg-item.gif) no-repeat;
  width:38px;
  height:43px;
  margin-top:65px;
}
#nav{
  background:url(../images/bg-nav.gif) no-repeat;
  height:61px;
  padding: 17px 0 0 28px;
  width: 424px;
  margin:56px 0 0;
  list-style:none;
  float:right;
  font-size:16px;
  line-height:24px;
  color:#0c0c0c;
  text-transform:uppercase;
}
#nav li{
  float:left;
  padding-left:17px
}
#nav li:first-child{padding:0;}
#nav a{
  color:#0c0c0c;
}
#nav a:hover{
	text-decoration:none;
	border-bottom:9px solid #80090b;
}
.title{
  background:#8da2ab url(../images/bg-title.gif) repeat-x;
  min-height:80px;
}
.title-holder{
  padding: 18px 3px 0 7px;
  width: 960px;
  margin:0 auto;
  text-align:center;
}
.title-holder h1{
  margin:0;
  font-size:32px;
  line-height:40px;
  text-shadow: 1px 3px 0 #79868C;
  word-spacing:-2px;
}
.info{
  border-top:1px solid #a9bec8;
  background:url(../images/bg-info.gif);
  min-height:163px;
}
.info-holder{
  width:910px;
  padding:26px 30px 34px;
  margin:0 auto;
  font-size:25px;
  line-height:34px;
  text-align:center;
  text-shadow: 0 1px 0 #8a969b;
  word-spacing: -2px;
}
.info-holder p{
  margin:0;
  text-shadow: 2px 2px #888;
}
.box-button{
  background:#161616 url(../images/bg-box-button.gif) repeat-x;
  min-height:75px;
}
.box-button-holder{
  width:769px;
  margin:0 auto;
  overflow:hidden;
  padding:16px 101px 0 137px;
}
.box-button .btn-technology{
  font-size:30px;
  line-height:39px;
  color:#fff;
  font-weight:bold;
  height:39px;
  text-decoration:none;
  float:left;
  text-shadow: 0 1px 0 #7c888d;
  padding-right:32px;
  background:url(../images/sprite-technologies.gif) no-repeat 100% 0;
 
}
.box-button .btn-technology span{
  background:url(../images/sprite-technologies.gif) no-repeat 0 -39px;
  float:left;
  padding-left: 89px;
  padding-right: 7px;
  cursor:pointer;
}
.box-button .btn-work{
  font-size:26px;
  line-height:43px;
  color:#fff;
  font-weight:bold;
  height:43px;
  text-decoration:none;
  float:right;
  margin:0 48px 0 0;
  text-shadow: 0 1px 0 #7c888d;
  padding-right:29px;
  background:url(../images/sprite-work.gif) no-repeat 100% 0;
}
.box-button .btn-work span{
  background:url(../images/sprite-work.gif) no-repeat 0 -43px;
  float:left;
  word-spacing: -3px;
  white-space:nowrap;
  padding: 0 72px 0 97px;
  cursor:pointer;
}
.visual{
  background:url(../images/img-01.jpg) no-repeat 50% 0;
  min-height:389px;
}
.visual-holder{
  width:970px;
  margin:0 auto;
}
.visual-holder:after{
  content:'';
  display:block;
  clear:both;
}
.visual .box{
  background:url(../images/sprite-box.png) no-repeat;
  width: 350px;
  padding-top: 39px;
  margin: -8px 10px 0 0;
  float:right;
}
.visual .box-holder{
  background:url(../images/sprite-box.png) no-repeat -711px 100%;
  width: 350px;
  float:left;
  padding-bottom: 42px;
}
.visual .box-frame{
  background:url(../images/sprite-box.png) repeat-y -354px 0;
  padding: 0 26px 0 34px;
  text-align:center;
  float:left;
  color:#fefefe;
}
.visual .box h2{
  margin: -32px -16px 24px -24px;
  font-size:26px;
  line-height:29px;
  background:#212122;
  padding: 15px 0 16px;
  text-transform:uppercase;
  font-weight:normal;
  position:relative;
}
.visual .box p{
  margin:0 0 23px;
  font-size:20px;
  line-height:26px;
  text-shadow: 0 1px 0 #222223;
}
.visual .box-frame a{
	color:#fff;
	background:#000;
	width:138px;
	height:25px;
	display:block;
	margin:0 auto 17px;
	line-height:25px;
}


/*Team Page*/
#main{
	width:100%;
	overflow:hidden;
}
.content-wrapper{
	width:970px;
	margin:0 auto;
}
#main #intro{
	width:100%;
	background:#8da2ab;
	min-height:63px;
	padding-top:15px;
}
#main #intro h1{
	font-size:37px;
	color:#fff;
	font-weight:normal;
	text-align:center;
	margin:0;
	line-height:normal;
}
#main .intro-text{
	width:100%;
	overflow:hidden;
	 background:url(../images/bg-info.gif);
}
#main .intro-text p{
	font-size:26px;
	text-align:center;
	line-height:normal;
	padding:16px 32px;
	margin:0;
}
.content-title{
	width:100%;
	background:url(../images/content-title.gif) repeat-x;
	float:left;
}
.content-title h2{
	color:#fff;
	font-size:40px;
	line-height:normal;
	margin:26px 0;
}
.content-holder{
	background:url(../images/content-holder.png) no-repeat 100% 100%;
	padding-bottom:74px;
	margin-bottom:25px;
	height:1%;
}
.content-frame{
	background:url(../images/content-frame.png) repeat-y 100% 0;
	height:1%;
}
.content-holder:after,
.content-frame:after{
	content:'';
	display:block;
	clear:both;
}
#content{
	width:649px;
	float:left;
	padding-top:32px;
}
#content #team{
	width:100%;
	overflow:hidden;
}
#content #team .info{
	min-height:10px;
	border:none;
	background:none;
	width:100%;
	overflow:hidden;
	padding:30px 0 0;
}
#content #team .info a{
	font-size:15px;
	color:#212122;
}
#content #team .info a.email-link{
	background:url(../images/email.jpg) no-repeat;
	float:left;
	padding:0 0 0 40px;
	line-height:22px;
}
#content #team .info a.twitter-link{
	float:right;
	padding:0 0 0 30px;
	background:url(../images/twitter.jpg) no-repeat;
	line-height:23px;
	margin:0 105px 0 0;
}
#content #team .team-box{
	height:1%;
	padding:22px;
	overflow:hidden;
	background:#fff;
	margin-bottom:40px;
}
#content #team h3{
	color:#212122;
	font-size:26px;
	line-height:19px;
	font-weight:normal;
	margin:4px 0 0;
}

#content #team .team-box p{
	font-size:15px;
	line-height:22px;
	color:#8da2ab;
}

#content #team .team-box .photo-placer{
	width:192px;
	float:left;
	margin:0 25px 0 0;
}

#sidebar{
	width:266px;
	float:right;
	background:url(../images/bg-sidebar.png) no-repeat;
	margin:-10px 0 0;
	padding:32px 30px 0 25px;
	position:relative;
}
#sidebar .twitter{
	width:100%;
	overflow:hidden;
}
#sidebar .twitter .tweet{
	width:100%;
	overflow:hidden;
	border-top:3px solid #fff;
	padding-top:20px;
}
#sidebar .twitter .tweet .image-placer{
	width:52px;
	float:left;
	margin:3px 8px 0 0;
}
#sidebar .twitter .tweet .tweet-text{
	width:204px;
	float:left;
}
#sidebar .twitter .tweet p{
	margin:0;
	padding:0 0 14px;
}
#sidebar .twitter .tweet:first-child{border:none;}
#sidebar h4{
	color:#fff;
	font-size:22px;
	font-weight:normal;
	text-align:center;
	width:325px;
	background:#000;
	line-height:normal;
	margin:0 0 18px -27px;
	padding:12px 0;
}
#sidebar .projects{min-height:400px;}
#sidebar p{
	font-size:14px;
	line-height:19px;
	padding-bottom:15px;
}
#footer{
  background:#e3e4e6 url(../images/bg-footer.gif) repeat-x;
  min-height:133px;
}
#footer .address-box{
  padding: 31px 5px 48px 10px;
  width: 955px;
  margin:0 auto;
  overflow:hidden;
}
#footer .address-box address{
  font-style:normal;
  float:left;
  margin-left:144px;
  font-size:18px;
  line-height:21px;
}
#footer .address-box address:first-child{margin:0;}
#footer .address-box address span{
  display:block;
}
#footer .address-box address strong{
  color:#9da9ae;
  text-transform:uppercase;
  font-size:14px;
  line-height:18px;
  display:block;
  padding-bottom:10px;
  font-weight:normal;
}
#footer .address-box .mail{
  color:#fff;
  text-decoration:none;
}
#footer .address-box .mail:hover{text-decoration:underline;}
.footer-holder{
  width:970px;
  margin:0 auto;
  text-align:center;
  padding-bottom:40px;
}
.footer-holder .copy{
  color:#9da9ae;
  text-transform:uppercase;
}