#footer
  .address-box
    %address
      %span
        %strong US address
      %span Col 28020 Suite 120
      %span P.O. Box 025720
      %span Miami FL. 33172-3652
    %address
      %span
        %strong Colombian address
      %span Address: 26sur 43a 41
      %span Suite 1052
      %span Envigado, Colombia
    %address
      %span
        %strong Contact Info
      %span
        %a.mail{:href => "mailto:inquiry@staunchRobots.com"} inquiry@staunchRobots.com
      %span 443-494-9228
      %span @staunchrobots
  .footer-holder
    %strong.copy &copy; 2012 StaunchRobots. All Rights Reserved.
