!!!
%html{:lang => "en"}
  %head
    %script{:src => "http://use.typekit.com/cyd0urf.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title StaunchRobots
    %link{:href => "/css/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %body
    #wrapper
      #header
        %strong.logo
          %a{:href => "/"} StaunchRobots
        %strong.item &nbsp;
        %ul#nav
          %li
            %a{:href => "team"} about
          %li
            %a{:href => "technology"} technology
          %li
            %a{:href => "work"} work
          %li
            %a{:href => "jobs"} jobs
          %li
            %a{:href => "learn"} learn
        %address.primary
          %a{:href => "mailto:#{obscure_email("inquiry@staunchrobots.com")}"} Contact Us
          %a.phone{:href => "#"} 443-494-9228
      .box-button
        .box-button-holder
          %a.btn-technology{:href => "technology"}
            %span Technologies
          %a.btn-work{:href => "work"}
            %span Our Work
      .visual
        .visual-holder
          .box
            .box-holder
              .box-frame
                %h2 About Us
                %p We are a boutique agency of developers working reliable consistent eastern standard hours. We are passionate about clean code, and strictly adhere to best practices of the ruby way.
                %a{:href => "team"} Learn more
      #footer
        .address-box
          %address
            %span
              %strong US address
            %span Col 28020 Suite 120
            %span P.O. Box 025720
            %span Miami FL. 33172-3652
          %address
            %span
              %strong Colombian address
            %span Address: 26sur 43a 41
            %span Suite 1052
            %span Envigado, Colombia
          %address
            %span
              %strong Contact Info
            %span
              %a.mail{:href => "mailto:inquiry@staunchRobots.com"} inquiry@staunchRobots.com
            %span 443-494-9228
            %span @staunchrobots
        .footer-holder
          %strong.copy &copy; 2012 StaunchRobots. All Rights Reserved.
