.box-button
  .box-button-holder
    %a.btn-technology{:href => "team"}
      %span Our Team
    %a.btn-work{:href => "work"}
      %span Our Work
.visual
  .visual-holder
    .box
      .box-holder
        .box-frame
          %h2 About Us
          %p We are a boutique rails staffing / consultancy hybrid specializing in augmenting US startups with top globally distributed remote devs and designers.
          %a{:href => "team"} Learn more
