.box-button
  .box-button-holder
    %a.btn-technology{:href => "team"}
      %span Our Team
    %a.btn-work{:href => "work"}
      %span Our Work
.visual
  .visual-holder
    .box
      .box-holder
        .box-frame
          %h2 About Us
          %p We are a boutique agency of developers working reliable consistent eastern standard hours. We are passionate about clean code, and strictly adhere to best practices of the ruby way.
          %a{:href => "team"} Learn more