#main
  .content-title
    .content-wrapper
      %h2 Internships and Jobs
  .content-wrapper
    .content-holder
      .content-frame
        #content
          #team.jobs2
            .team-box
              .text
                %h3 Rails Trainee
                %p If you have OOP experience, have a thirst for Ruby, and want some mentorship in digging deeper, we can help! We are looking for people who know how to persist through self learning woes, and just need some light handholding and mentorship. We can give you structure and guidance that upon completion should qualify you for a developer position.
                %p
                  You should work your way through some basic ruby syntax by completing ruby Koans
                  %a{:href =>"http://rubykoans.com"} http://rubykoans.com/
                  \. And have some demostrable site up in either capistrano or rails, before applying for our training program. Once you have done so give us a shout at
                  %a{:href => "mailto:jobs@staunchrobots.com"} jobs@staunchrobots.com

            .team-box
              .text
                %h3 On Site Ruby On Rails Developer
                %p We have a small boutique shop in Medellin, Colombia and are looking for more guys to help out. We work closely with our american clients, and also work oneday a week to pitch in to community projects.
                %p
                  If you have a genuine passion for Rails, and some talent give us a shout at
                  %a{:href => "mailto:jobs@staunchrobots.com"} jobs@staunchrobots.com
            .team-box
              .text
                %h3 On Site / Off Site Ruby On Rails Architect
                %p If you have more than a little experience with rails,  a trackrecord of well organized code, and contributions to the community, we might have a VIP seat for you here  We can work with super talented guys remotely, and then slow
            .team-box
              .text
                %h3 Front End Developer
                %p If you love css, know a variety of css frameworks, and some fancy technology like backbone.js, that would be a good start!
            .team-box
              .text
                %h3 Photoshop Designer
                %p
                  If you love UI design, and have a psd portfolio, send it over to us at
                  %a{:href => "mailto:jobs@staunchrobots.com"} jobs@staunchrobots.com
                  We are currently designerless, and looking for someone to step into a lead position as THE staunch designer!
        #sidebar
          .job_widget
            %ul.widgets
              %li Learn Ruby on Rails
              %li Seeking passionate developers
              %li Work in an American Startup Culture
          .info_box
            %h4 More Information
            %p You will work under our supervision on opensource projects learning cutting edge best practices, until you are capable for real world client work, at which point you would graduate from intern to full team member!
            %p
              Please send an email to
              %a{:href => "mailto:jobs@staunchrobots.com"} jobs@staunchrobots.com
              and tell us a little bit about yourself. Let us know what web experience you have and why you want to learn Ruby on Rails!
