= haml :head
#main
  .content-title
    .content-wrapper
      %h2 Learn
  .content-wrapper
    .content-holder
      .content-frame
        #content
          #team.jobs2
            .team-box
              .photo-placer
              .text
                %ul.learn-info
                  %li
                    %strong When
                    .text Oct 21-22, 2012
                    .text 5:00pm-8:00pm
                  %li
                    %strong Where
                    .text Tinto Tintera
                    .text Lleras park, Medellin
                %h3 Medellin Rails Meetup
                .price Medellin
                %p We are hosting medellin ruby on rails group. Doing some presentations and talks about usage of ruby and our experiences.We are hosting medellin ruby on rails group. Doing some presentations and talks about usage of ruby and our experiences.
                %p
                  %a.btn.red{:href => "#"} Read more
            .team-box
              .photo-placer
              .text
                %ul.learn-info
                  %li
                    %strong When
                    .text Oct 21-22, 2012
                    .text 5:00pm-8:00pm
                  %li
                    %strong Where
                    .text Tinto Tintera
                    .text Lleras park, Medellin
                %h3 Introduction to ruby
                .price Medellin $100
                %p Must be awesome code ninja Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                %p
                  %a.btn.red{:href => "#"} Read more
            .team-box
              .photo-placer
              .text
                %ul.learn-info
                  %li
                    %strong When
                    .text Oct 21-22, 2012
                    .text 5:00pm-8:00pm
                  %li
                    %strong Where
                    .text Tinto Tintera
                    .text Lleras park, Medellin
                %h3 Introduction to ruby
                .price Bogota $200
                %p Must be awesome code ninja Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                %p
                  %a.btn.red{:href => "#"} Read more
            .team-box
              .photo-placer
              .text
                %ul.learn-info
                  %li
                    %strong When
                    .text Oct 21-22, 2012
                    .text 5:00pm-8:00pm
                  %li
                    %strong Where
                    .text Tinto Tintera
                    .text Lleras park, Medellin
                %h3 Advanced Javascript
                .price Medellin Free
                %p Must be awesome code ninja Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                %p
                  %a.btn.red{:href => "#"} Read more
            .team-box
              .photo-placer
              .text
                %ul.learn-info
                  %li
                    %strong When
                    .text Oct 21-22, 2012
                    .text 5:00pm-8:00pm
                  %li
                    %strong Where
                    .text Tinto Tintera
                    .text Lleras park, Medellin
                %h3 Test-driven development
                .price Medellin Free
                %p Must be awesome code ninja Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                %p
                  %a.btn.red{:href => "#"} Read more
        #sidebar
          .job_widget
            %ul.widgets
              %li Beginners class
              %li Intermediate class
              %li Advanced class
              %li Sample application
              %li TDD application
          .projects
            %h4 Photos
            %ul.photos_widget
              %li
                %img{:alt => "", :src => "images/img-4.jpg"}/
              %li
                %img{:alt => "", :src => "images/img-5.jpg"}/
              %li
                %img{:alt => "", :src => "images/img-6.jpg"}/
              %li
                %img{:alt => "", :src => "images/img-7.jpg"}/
              %li
                %img{:alt => "", :src => "images/office7.jpg"}/
= haml :footer