= haml :head
#main
  #intro
    .content-wrapper
      %h1 We extend passionate ruby teams with nearshore staff
  .intro-text
    .content-wrapper
      %p Working in your time zone, we integrate tightly with your existing team. We love working with teams that share our passion for elegant, test driven code  and with whom we can share our genuine joy of coding.
  .content-title
    .content-wrapper
      %h2 Team Staunch
  .content-wrapper
    .content-holder
      .content-frame
        #content
          #team
            .team-box
              .photo-placer
                %img{:alt => "", :src => "images/img-03.jpg"}/
              .text
                %h3 Team member #1
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus. Maecenas vitae enim a eros elementum tincidunt et quis ipsum. Nullam porta lacus aliquam mauris mattis in vestibulum neque volutpat. Etiam euismod iaculis mi vitae elementum.
              .info
                %a.email-link{:href => "#"} email@staunchrobots.com
                %a.twitter-link{:href => "#"} Twittername
            .team-box
              .photo-placer
                %img{:alt => "", :src => "images/img-03.jpg"}/
              .text
                %h3 Team member #1
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus. Maecenas vitae enim a eros elementum tincidunt et quis ipsum. Nullam porta lacus aliquam mauris mattis in vestibulum neque volutpat. Etiam euismod iaculis mi vitae elementum.
              .info
                %a.email-link{:href => "#"} email@staunchrobots.com
                %a.twitter-link{:href => "#"} Twittername
            .team-box
              .photo-placer
                %img{:alt => "", :src => "images/img-03.jpg"}/
              .text
                %h3 Team member #1
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus. Maecenas vitae enim a eros elementum tincidunt et quis ipsum. Nullam porta lacus aliquam mauris mattis in vestibulum neque volutpat. Etiam euismod iaculis mi vitae elementum.
              .info
                %a.email-link{:href => "#"} email@staunchrobots.com
                %a.twitter-link{:href => "#"} Twittername
            .team-box
              .photo-placer
                %img{:alt => "", :src => "images/img-03.jpg"}/
              .text
                %h3 Team member #1
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus. Maecenas vitae enim a eros elementum tincidunt et quis ipsum. Nullam porta lacus aliquam mauris mattis in vestibulum neque volutpat. Etiam euismod iaculis mi vitae elementum.
              .info
                %a.email-link{:href => "#"} email@staunchrobots.com
                %a.twitter-link{:href => "#"} Twittername
        #sidebar
          .projects
            %h4 Community Projects
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus. Maecenas vitae enim a eros elementum tincidunt et quis ipsum. Nullam porta lacus aliquam mauris mattis in vestibulum neque volutpat. Etiam euismod iaculis mi vitae elementum.
          %h4 Recent Tweets
          .twitter
            .tweet
              .image-placer
                %img{:alt => "", :src => "images/img-02.jpg"}/
              .tweet-text
                %p tweets Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim.
            .tweet
              .image-placer
                %img{:alt => "", :src => "images/img-02.jpg"}/
              .tweet-text
                %p tweets Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim.
            .tweet
              .image-placer
                %img{:alt => "", :src => "images/img-02.jpg"}/
              .tweet-text
                %p tweets Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim.
= haml :footer