= haml :head
#main
  .content-title
    .content-wrapper
      %h2 About Us
  .content-wrapper
    .content-holder
      .content-frame
        #content
          #team
            .team-box
              .about
                %h3 Our mission
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus
            .team-box
              .photo-placer
                %img{:alt => "", :src => "images/img-03.jpg"}/
              .text
                %h3 Todd Morrill
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus. Maecenas vitae enim a eros elementum tincidunt et quis ipsum. Nullam porta lacus aliquam mauris mattis in vestibulum neque volutpat. Etiam euismod iaculis mi vitae elementum.
              %ul.meta
                %li
                  %a.email_ico{:href => "#"} email@staunchrobots.com
                %li
                  %a.twitter_ico{:href => "#"} twittername
                %li
                  %a.github_ico{:href => "#"} github link
            .team-box
              .photo-placer
                %img{:alt => "", :src => "images/voffka.jpg", :height => '192', :width => '192'}/
              .text
                %h3 Vladimir Penkin
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus. Maecenas vitae enim a eros elementum tincidunt et quis ipsum. Nullam porta lacus aliquam mauris mattis in vestibulum neque volutpat. Etiam euismod iaculis mi vitae elementum.
              %ul.meta
                %li
                  %a.email_ico{:href => "mailto:penkinv@gmail.com"} penkinv@gmail.com
                %li
                  %a.twitter_ico{:href => "https://twitter.com/#!/mindwork"} mindwork
                %li
                  %a.github_ico{:href => "https://github.com/shell"} GitHub
            .team-box
              .photo-placer
                %img{:alt => "", :src => "images/img-03.jpg"}/
              .text
                %h3 Sebastian Castillo
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus. Maecenas vitae enim a eros elementum tincidunt et quis ipsum. Nullam porta lacus aliquam mauris mattis in vestibulum neque volutpat. Etiam euismod iaculis mi vitae elementum.
              %ul.meta
                %li
                  %a.email_ico{:href => "#"} email@staunchrobots.com
                %li
                  %a.twitter_ico{:href => "#"} twittername
                %li
                  %a.github_ico{:href => "#"} github link
            .team-box
              .photo-placer
                %img{:alt => "", :src => "images/img-03.jpg"}/
              .text
                %h3 This could be you!
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus. Maecenas vitae enim a eros elementum tincidunt et quis ipsum. Nullam porta lacus aliquam mauris mattis in vestibulum neque volutpat. Etiam euismod iaculis mi vitae elementum.
              %ul.meta
                %li
                  %a.email_ico{:href => "#"} email@staunchrobots.com
                %li
                  %a.twitter_ico{:href => "#"} twittername
                %li
                  %a.github_ico{:href => "#"} github link
        #sidebar
          .projects
            %h4 Community Projects
            %ul.widgets
              %li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus.
              %li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus.
              %li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus.
          .projects
            %h4 Photos
            %ul.photos_widget
              %li
                %img{:alt => "", :src => "images/img-4.jpg"}/
              %li
                %img{:alt => "", :src => "images/img-5.jpg"}/
              %li
                %img{:alt => "", :src => "images/img-6.jpg"}/
              %li
                %img{:alt => "", :src => "images/img-7.jpg"}/
              %li
                %img{:alt => "", :src => "images/img-8.jpg"}/
= haml :footer