#main
  .content-title
    .content-wrapper
      %h2 About Us
  .content-wrapper
    .content-holder
      .content-frame
        #content
          #team
            .team-box
              .about
                / %h3 What we do:
                %h3 Top coders making quality code
                %p
                  We recruit inspired local talent, and put them through a grueling best practices training program, where we drill in best OOP techniques inspired by
                  %a(href="http://objectsonrails.com/") http://objectsonrails.com/
                  \. The result is a standardized way of doing things, that tend to be elegant, readable, and maintainable. We believe the key to quality code is a quality developer, and only hire people passionate about and enjoy learning.
                %h3 We value communication and group dynamics
                %p Developers are available and online during eastern standard time and work closely with our clients to get quick feedback.  Clients know what we are doing, and what we are going to do next.


                %h3 Over 75% of revenue flows to developers.
                %p We are very proud of our financial leanness. Over 75% of all company revenue goes to developers. We have virtually no sales, management, or administrative costs. Our programmers are expected to lead, and communicate proficiently and directly. We pay the most amount of money we can to developers in order to attract and value the highest level of talent. Less layers of management,  means less people in the telephone game, and better efficiency.

                %h3 Medellin, Colombia ?!
                %p We are headquartedred in paradise, Medellin Colombia. Why? Because the weather is perfect, the vista's are amazing, the price is cheap, the women are beautiful and we are on our client's time zone! I mean look at the view from our office:
                %img(src="images/colombia.jpg")
                %br

            .meet-team Meet The Team...
            .team-box
              .photo-placer
                %img{:height => 192, :alt => "", :src => "images/todd2.jpeg"}/
              .text
                %h3 Todd Morrill
                %p Todd is a cofounder of staunchrobots. He recruits talent globally, talking to developers from around the world and selling them on how they would be better off moving to Colombia.  Todd also moderates all communications both between team members and clients and drills in the message that communication is as important as coding skills.
              %ul.meta
                %li
                  %a.twitter_ico{:href => "http://twitter.com/morrillt"} @morrillt
                %li
                  %a.github_ico{:href => "http://github.com/morrillt"} github
            .team-box
              .photo-placer
                %img{:alt => "", :src => "images/voffka2.jpg", :height => '192', :width => '192'}/
              .text
                %h3 Vladimir Penkin
                %p Vladimir is a technical lead in the company. He is responsible for setting company quality standards and increasing them constantly. He is constantly targeting for the best practices and approaches. He balances OOP and functional approaches to achieve best results. Vladimir is passionate about pushing himself and all of us to makes code more readable, testable and maintainable.
              %ul.meta
                %li
                  %a.twitter_ico{:href => "https://twitter.com/#!/mindwork"} @mindwork
                %li
                  %a.github_ico{:href => "https://github.com/shell"} GitHub
            .team-box
              .photo-placer
                %img{:height => 192, :alt => "", :src => "images/castillo.jpg"}/
              .text
                %h3 Sebastian Castillo
                %p Sebastian is staunchrobot's first colombian native team member. He is the founder of a local technology meetup initiative called coffeegrid. In his freetime sebastian enjoys promoting the benefits of emacs.
              %ul.meta
                %li
                  %a.twitter_ico{:href => "https://twitter.com/castillobuiles"} @castillobuiles
                %li
                  %a.github_ico{:href => "https://github.com/scastillo"} GitHub
            .team-box
              .photo-placer
                %img{:height => 192, :alt => "", :src => "images/jeff.jpeg"}/
              .text
                %h3 Jeffrey Biles
                %p Jeff is mad chemical physicist, turned Ruby programmer.  He devours railscasts, and books, in his freetime, and also enjoys code brawls. Probably most notable of Jeff's attributes is his ability to keep his head down in painful projects, and turn them into beautiest. He is currently working remote from the USA and we are looking forward to him coming down soon.
              %ul.meta
                %li
                  %a.twitter_ico{:href => "https://twitter.com/JeffreyBiles"} @JeffreyBiles
                %li
                  %a.github_ico{:href => "https://github.com/jeffreybiles"} GitHub
                %li
                  %a.cv_ico{:href => "/downloads/jeffrey_biles.pdf"} Technical Specs
            .team-box
              .photo-placer
                %img{:height => 192, :alt => "", :src => "images/alex.jpeg"}/
              .text
                %h3 Calinoiu Alexandru Nicolae
                %p Alex is a remote Rails architect that represtents from Romania. We has solid skills, and we relly on him to help us out with our most difficult issues.
              %ul.meta
                / %li
                /   %a.twitter_ico{:href => "https://twitter.com/JeffreyBiles"} @JeffreyBiles
                %li
                  %a.github_ico{:href => "https://github.com/balauru"} GitHub
                %li
                  %a.cv_ico{:href => "/downloads/calinoiu_alexandru_nicolae.pdf"} Technical Specs
            .team-box
              .photo-placer
                %img{:alt => "", :height => 192, :width => 192, :src => "images/could_be_you.jpg"}/
              .text
                %h3 This could be you!
                %p If you love programming, and are open to coming to Colombia, check out our Jobs page!
        #sidebar
          / .projects
          /   %h4 Community Projects
          /   %ul.widgets
          /     %li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus.
          /     %li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus.
          /     %li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at pharetra enim. Nam in dolor et mi luctus cursus.
          .projects
            %h4 Photos
            %ul.photos_widget
              %li
                %img{:alt => "", :src => "images/img-4.jpg"}/
              %li
                %img{:alt => "", :src => "images/img-5.jpg"}/
              %li
                %img{:alt => "", :src => "images/img-6.jpg"}/
              %li
                %img{:alt => "", :src => "images/img-7.jpg"}/
              %li
                %img{:alt => "", :src => "images/office7.jpg"}/
