#main
  .content-title
    .content-wrapper
      %h2 About Us
  .content-wrapper
    .content-holder
      .content-frame
        #content
          #team
            .team-box
              .about.us
                / %h3 What we do:
                %h3 We integrate global leaders in web development with passionate remote talents to get a unique blend of Quality and Affordability.
                / .affordability
                / Stop Competing With Silicon Valley For "Ninja Rockstars", listen to DHH and go Remote!
                %ul
                  %li We love pair programming and test driven development
                  %li All we do love Rails
                  %li Ramp up / down velocity by adding team members quickly with no long term obligation
                  %li Work directly with fluent english speakers, no project management middleman, guys here are competent self managed professionals
                  %li Payments / Taxes are easy, make payments to American banks, to American Company, get a 1099
                  %li Options to convert remote developers to your onsite location as an employee, some of our guys already have US visa's, and we have h1b processes in place for others.

                %p Check out our team members below:

            .meet-team Technical team...
            .team-box
              .photo-placer
                %img{:alt => "Ulrich", :src => "images/ulrich-soeffing.png", :width => '192'}/
              .text
                %h3 Ulrich Soeffing
                %p Ulrich studied Business at Rotterdam School of Management, one of Europe's Top Business Schools but quickly opted for the exciting tech start up scene as opposed to the usual corporate ladder. He applies the power of German "Genauigkeit" to all of his Rails and AngularJS projects and when he isn't at his desk, you might meet him hitch-hiking through Morocco, strolling through the rainforests of French Guyana or trying to pick up some Mazateco in Southern Mexico.
              %ul.meta
                %li
                  %a.twitter_ico{:href => "#"}
                %li.right
                  %a.commits_btn.github_ico{:href => "https://github.com/soeffing"} github
              %ul.commits


            .team-box
              .photo-placer
                %img{:alt => "Lennon", :src => "images/lennon-manchester.png", :width => '192'}/
              .text
                %h3 Lennon Manchester
                %p Lennon has been focusing his current efforts on improving teamwork and culture on software development teams, increasing the quality of the final product. On his path to continuous improvement, he has found that  learning to communicate has as much, if not more, to do with growth than it does with technical skill.
              %ul.meta
                %li
                  %a.twitter_ico{:href => "https://twitter.com/leManchester"} @leManchester
                %li.right
                  %a.commits_btn.github_ico{:href => "https://github.com/lemanchester"} github
              %ul.commits


            .team-box
              .photo-placer
                %img{:alt => "Mauricio", :src => "images/mauricio-voto.png", :width => '192'}/
              .text
                %h3 Mauricio Voto
                %p Mauricio is a Brazilian Ruby enthusiast who is constantly evolving and improving his code skills.  His passion for electric guitar and music give him the unique ability to understand visually a clients needs and transform that vision into logical and organized development.
              %ul.meta
                %li
                  %a.twitter_ico{:href => "https://twitter.com/mvoto"} @mvoto
                %li.right
                  %a.commits_btn.github_ico{:href => "https://github.com/mvoto"} github
              %ul.commits

            .team-box
              .photo-placer
                %img{:alt => "Sebastian", :src => "images/sebastian-arcila.png", :width => '192'}/
              .text
                %h3 Sebastian Arcila
                %p Representing Colombia, two time ICPC world finalist, Sebastian is mainly a backend guy, who loves algorithms and math. He has worked with some amazing start-ups such as Art.sy, wehearit.com, as well as, some local and international colleges like EAFIT and the prestigious MIT.  When he is not working you can find Sebastian contending in programming competitions such as Google Code Jam, TopCoder and of course ICPC.
              %ul.meta
                %li
                  %a.twitter_ico{:href => "https://twitter.com/sarcilav"} @sarcilav
                %li.right
                  %a.commits_btn.github_ico{:href => "https://github.com/sarcilav"} github
              %ul.commits

            .meet-team Support team...
            .team-box
              .photo-placer
                %img{:alt => "Todd", :src => "images/todd-morrill.png", :width => '192'}/
              .text
                %h3 Todd Morrill
                %p Todd Morrill, is the "New Client Embassador", focuses on sales and marketing. He is responsible for providing new clients to Staunch Robots ecosystem and keeping the money flowing. Todd also enjoys being the director of innovation at Staunch Labs, a Staunch Robots subsidiary focused on disrupting the Latin American Real Estate industry.
              %ul.meta
                %li
                  %a.twitter_ico{:href => "http://twitter.com/morrillt"} @morrillt
                %li.right
                  %a.github_ico{:href => "http://github.com/morrillt"} github

            .team-box
              .photo-placer
                %img{:alt => "Danielle", :src => "images/danielle-halstead.png", :width => '192'}/
              .text
                %h3 Danielle Halstead
                %p Danielle serves Staunch Robots as their administrative guru; master of coin. Her roles include all matters related to office accounting; contract administration; and assisting in the development of various documentation related to modus operandi. Her dedication, flexibility, work ethic and loyalty make her an invaluable person to the organization.


            .team-box
              .photo-placer
                %img{:alt => "You", :height => 192, :width => 192, :src => "images/could_be_you.jpg"}/
              .text
                %h3 This could be you!
                %p If you love programming, responsible worker and want to work remotely, check out our Jobs page!
        #sidebar
          .projects
            / %h4 Community Projects
            %ul.widgets
              %li
                %a{:href => "http://37signals.com/svn/posts/3064-stop-whining-and-start-hiring-remote-workers"} If we were only trying to hire in Chicago, we’d never have the world-class team we have today...

              %li.dhh - DHH, 37 signals
          .projects
            %h4 Photos
            %ul.photos_widget
              %li
                %img{:alt => "", :src => "images/pair-german.jpg"}/
              %li
                %img{:alt => "", :src => "images/desktop-leo.jpg"}/
              %li
                %img{:alt => "", :height => 194, :width => 274, :src => "images/staunch-hangout.png"}/
              %li
                %img{:alt => "", :src => "images/sebas-conf.jpg"}/

