= haml :head
#main
  .content-title
    .content-wrapper
      %h2 Technology
  .content-wrapper
    .main_box
      %ul.technology
        %li
          .technology_logo
            %img{:alt => "", :src => "images/rails.png"}/
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat euismod purus, eget adipiscing nunc vehicula et.
        %li
          .technology_logo
            %img{:alt => "", :src => "images/coffeescript.png"}/
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat euismod purus, eget adipiscing nunc vehicula et.
        %li
          .technology_logo
            %img{:alt => "", :src => "images/github.png"}/
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat euismod purus, eget adipiscing nunc vehicula et.
      %ul.technology
        %li
          .technology_logo
            %img{:alt => "", :src => "images/haml.png"}/
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat euismod purus, eget adipiscing nunc vehicula et.
        %li
          .technology_logo
            %img{:alt => "", :src => "images/sass.png"}/
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat euismod purus, eget adipiscing nunc vehicula et.
        %li
          .technology_logo
            %img{:alt => "", :src => "images/cucumber.png"}/
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat euismod purus, eget adipiscing nunc vehicula et.
      %ul.technology
        %li
          .technology_logo
            %img{:alt => "", :src => "images/backbonejs.png"}/
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat euismod purus, eget adipiscing nunc vehicula et.
        %li
          .technology_logo
            %img{:alt => "", :src => "images/html5.png"}/
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat euismod purus, eget adipiscing nunc vehicula et.
        %li
          .technology_logo
            %img{:alt => "", :src => "images/mongodb.png"}/
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat euismod purus, eget adipiscing nunc vehicula et.
= haml :footer