#main
  .content-title
    .content-wrapper
      %h2 2012 Projects
  .content-wrapper
    .main_box
      .work_wrap
        .work_box.first_work_box
          .work_title
            %h3 Nimbleshop
            %a{:href => "www.nimbleshop.org"} www.nimbleshop.org
          .gallery
            %ul#gallery_1
              %li
                %img{:width => 420, :alt => "", :src => "images/nimbleshop.png"}/
                %p Nimbleshop - is lightweight alternative to Spree. We really enjoyed working with bigbinary.com on this project!
              %li
                %img{:width => 420, :alt => "", :src => "images/nimbleshop2.png"}/
                %p So many features.
              %li
                %img{:width => 420, :alt => "", :src => "images/nimbleshop3.png"}/
                %p We are still on the road... roadmap
              %li
                %img{:width => 420, :alt => "", :src => "images/nimbleshop3.png"}/
                %p We are still on the road... roadmap
        .work_box
          .work_title
            %h3 Verdacom
            %a{:href => "#"} www.verdacom.com
          .gallery
            %ul#gallery_2
              %li
                %img{:width => 420, :alt => "", :src => "images/verdacom.png"}/
                %p Verdacom makes logistic solutions for pharmacies. We maintain and extend their tools.
              %li
                %img{:width => 420, :alt => "", :src => "images/verdacom.png"}/
                %p This project involves some pretty deep customization of activeadmin. Gregg bell creator of activeadmin is actually a member of the team.
              %li
                %img{:width => 420, :alt => "", :src => "images/verdacom.png"}/
                %p This tool saves peoples lives.
              %li
                %img{:width => 420, :alt => "", :src => "images/verdacom.png"}/
                %p Isn't that enough?
      .work_wrap
        .work_box.first_work_box
          .work_title
            %h3 Fresh Rank
            %a{:href => "http://freshrank.com"} www.freshrank.com
          .gallery
            %ul#gallery_3
              %li
                %img{:width => 420, :alt => "", :src => "images/freshrank.png"}/
                %p Freshrank is an SEO company, we build their tools.
              %li
                %img{:width => 420, :alt => "", :src => "images/freshrank.png"}/
                %p Their tools are topsecret, we really cant tell you about them.
              %li
                %img{:width => 420, :alt => "", :src => "images/freshrank.png"}/
                %p But we can tell you, that their tools work, usually as expected.
              %li
                %img{:width => 420, :alt => "", :src => "images/freshrank.png"}/
                %p end of line.
