= haml :head
#main
  .content-title
    .content-wrapper
      %h2 Our work
  .content-wrapper
    .main_box
      .work_wrap
        .work_box.first_work_box
          .work_title
            %h3 Title of Work
            %a{:href => "#"} www.thissite.com
          .gallery
            %ul#gallery_1
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
        .work_box
          .work_title
            %h3 Title of Work
            %a{:href => "#"} www.thissite.com
          .gallery
            %ul#gallery_2
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
      .work_wrap
        .work_box.first_work_box
          .work_title
            %h3 Title of Work
            %a{:href => "#"} www.thissite.com
          .gallery
            %ul#gallery_3
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
        .work_box
          .work_title
            %h3 Title of Work
            %a{:href => "#"} www.thissite.com
          .gallery
            %ul#gallery_4
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
              %li
                %img{:alt => "", :src => "images/img-9.jpg"}/
                %p Lorem ipsum dolor sit amet, choro dicunt ea cum, ea odio sumo ridens sit, eirmod ceteros quaestio id duo. Vix harum ridens ex.
= haml :footer