img, form, fieldset{border:none;}
form, fieldset{
  margin:0;
  padding:0;
}
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, p{margin:0;}
table{width:100%; border-collapse:collapse;}
q{quotes: none;}
q:before{content:"";}
q:after{content:"";}
input:focus { outline: none; }
textarea:focus { outline: none; }
select:focus { outline: none; }
body{
  font-family: "ff-din-web-1","ff-din-web-2",sans-serif;
  background:#e3e4e6;
  color:#fff;
}
img{border-style:none;}
a{
  text-decoration:none;
  color:#000;
}
a:hover{text-decoration:underline;}
#wrapper{
  min-width:1003px;
  margin:0 auto;
}
p {
  color: #555;
}
#header{
  min-height:155px;
  width:970px;
  margin:0 auto;
  overflow:hidden;
/*  padding:19px 0 0;*/
}
#header .logo {
  float:left;
  background:url(../images/logo.png) no-repeat;
  width:450px;
  height:152px;
  text-indent:-9999px;
  overflow:hidden;
  margin-right:16px;
}
#header .logo a {
  display:block;
  height:100%;
}
#header .item{
  float:left;
  background:url(../images/bg-item.gif) no-repeat;
  width:38px;
  height:43px;
  margin-top:65px;
}
#nav{
  background:url(../images/bg-nav.gif) no-repeat;
  height:61px;
  padding: 17px 0 0 28px;
  width: 424px;
  margin:56px 0 0;
  list-style:none;
  float:right;
  font-size:19px;
  line-height:24px;
  color:#0c0c0c;
  text-transform:uppercase;
}
#nav li{
  float:left;
  padding-left:17px
}
#nav li:first-child{
  padding:0 0 0 25px;
}
#nav a{
  color:#0c0c0c;
}
#nav a:hover, #nav li.active a{
  text-decoration:none;
  border-bottom:9px solid #80090b;
}
.title{
  background:#8da2ab url(../images/bg-title.gif) repeat-x;
  min-height:80px;
}
.title-holder{
  padding: 18px 3px 0 7px;
  width: 960px;
  margin:0 auto;
  text-align:center;
}
.title-holder h1{
  margin:0;
  font-size:32px;
  line-height:40px;
  text-shadow: 1px 3px 0 #79868C;
  word-spacing:-2px;
}
.info{
  border-top:1px solid #a9bec8;
  background:url(../images/bg-info.gif);
  min-height:163px;
}
.info-holder{
  width:910px;
  padding:26px 30px 34px;
  margin:0 auto;
  font-size:25px;
  line-height:34px;
  text-align:center;
  text-shadow: 0 1px 0 #8a969b;
  word-spacing: -2px;
}
.info-holder p{
  margin:0;
  text-shadow: 2px 2px #888;
}
.box-button{
  background:#161616 url(../images/bg-box-button.gif) repeat-x;
  min-height:75px;
}
.box-button-holder{
  width:769px;
  margin:0 auto;
  overflow:hidden;
  padding:16px 101px 0 137px;
}
.box-button .btn-technology{
  font-size:30px;
  line-height:39px;
  color:#fff;
/*  font-weight:bold;*/
  height:39px;
  text-decoration:none;
  float:left;
  text-shadow: 0 1px 0 #7c888d;
  padding-right:32px;
  background:url(../images/sprite-technologies.gif) no-repeat 100% 0;

}
.box-button .btn-technology span{
  background:url(../images/sprite-technologies.gif) no-repeat 0 -39px;
  float:left;
  padding-left: 89px;
  padding-right: 7px;
  cursor:pointer;
}
.box-button .btn-work{
  font-size:26px;
  line-height:43px;
  color:#fff;
/*  font-weight:bold;*/
  height:43px;
  text-decoration:none;
  float:right;
  margin:0 48px 0 0;
  text-shadow: 0 1px 0 #7c888d;
  padding-right:29px;
  background:url(../images/sprite-work.gif) no-repeat 100% 0;
}
.box-button .btn-work span{
  background:url(../images/sprite-work.gif) no-repeat 0 -43px;
  float:left;
  word-spacing: -3px;
  white-space:nowrap;
  padding: 0 72px 0 97px;
  cursor:pointer;
}
.visual{
  background:url(../images/img-01.jpg) no-repeat 50% 0;
  min-height:389px;
}
.visual-holder{
  width:970px;
  margin:0 auto;
}
.visual-holder:after{
  content:'';
  display:block;
  clear:both;
}
.visual .box{
/*  background:url(../images/sprite-box.png) no-repeat;*/
  width: 350px;
  padding-top: 39px;
  margin: -8px 10px 0 0;
  float:right;
}
.visual .box-holder{
  background:url(../images/sprite-box.png) no-repeat -711px 100%;
  width: 350px;
  float:left;
  padding-bottom: 42px;
}
.visual .box-frame{
  background:url(../images/sprite-box.png) repeat-y -354px 0;
  padding: 0 26px 0 34px;
  text-align:center;
  float:left;
  color:#fefefe;
}
.visual .box h2{
  margin: -32px -26px 24px -34px;
  font-size:26px;
  line-height:29px;
  background:#212122;
  padding: 15px 0 16px;
  text-transform:uppercase;
  font-weight:normal;
  position:relative;
}
.visual .box p{
  margin:0 0 23px;
  font-size:20px;
  line-height:26px;
  text-shadow: 0 1px 0 #222223;
}
.visual .box-frame a{
  color:#fff;
  background:#000;
  width:138px;
  height:25px;
  display:block;
  margin:0 auto 17px;
  line-height:25px;
}
/*Team Page*/
#main{
  width:100%;
  overflow:hidden;
}
.content-wrapper{
  width:970px;
  margin:0 auto;
  clear:both;
}
#main #intro{
  width:100%;
  background:#8da2ab;
  min-height:63px;
  padding-top:15px;
}
#main #intro h1{
  font-size:37px;
  color:#fff;
  font-weight:normal;
  text-align:center;
  margin:0;
  line-height:normal;
}
#main .intro-text{
  width:100%;
  overflow:hidden;
   background:url(../images/bg-info.gif);
}
#main .intro-text p{
  font-size:26px;
  text-align:center;
  line-height:normal;
  padding:16px 32px;
  margin:0;
}
.content-title{
  width:100%;
  background:url(../images/content-title.gif) repeat-x;
}
.content-title h2{
  color:#fff;
  font-size: 34px;
  line-height:normal;
  padding:12px 0;
  font-weight: normal;
  margin:0;
}
.content-holder{
  background:url(../images/content-holder.png) no-repeat 100% 100%;
  padding-bottom:74px;
  margin-bottom:25px;
  height:1%;
}
.content-frame{
  background:url(../images/content-frame.png) repeat-y 100% 0;
  height:1%;
}
.content-holder:after,
.content-frame:after{
  content:'';
  display:block;
  clear:both;
}
#content{
  width:649px;
  float:left;
  padding-top:32px;
}
#content #team{
  width:100%;
  overflow:hidden;
}
#content #team .info{
  min-height:10px;
  border:none;
  background:none;
  width:100%;
  overflow:hidden;
  padding:30px 0 0;
}
#content #team .info a{
  font-size:15px;
  color:#212122;
}
a.email-link{
  background:url(../images/email.jpg) no-repeat;
  float:left;
  padding:0 0 0 40px;
  line-height:22px;
}
a.twitter-link{
  float:right;
  padding:0 0 0 30px;
  background:url(../images/twitter.jpg) no-repeat;
  line-height:23px;
  margin:0 105px 0 0;
}
#content #team .team-box{
  height:1%;
  padding:22px;
  overflow:hidden;
  background:#fff;
  margin-bottom:40px;
}
#content #team h3{
  color:#212122;
  font-size:26px;
  line-height:19px;
  font-weight:normal;
  margin:4px 0 10px 0;
}

#content #team.jobs2 h3{
  color:#212122;
  font-size:26px;
  line-height:29px;
  font-weight:normal;
/*  margin:4px 0 50px;*/
}

#content #team.jobs2 p{
  margin: 10px 0 20px 0;
}

#content #team .team-box p{
  font-size:15px;
  line-height:22px;
  margin: 0 0 25px 0;
/*  color:#555;*/
}

.meet-team {
  color:red;
  font-size: 24px;
/*  float: right;*/
  padding-left: 450px;

}

#content #team .team-box .photo-placer{
  width:192px;
  float:left;
  margin:0 25px 0 0;
}

.team-box img {
  border: 1px solid #000;
}

#sidebar{
  width:266px;
  float:right;
  background:url(../images/bg-sidebar.png) no-repeat;
  margin:-1px 0 0;
  padding:32px 30px 0 25px;
  position:relative;
}
#sidebar .twitter{
  width:100%;
  overflow:hidden;
}
#sidebar .twitter .tweet{
  width:100%;
  overflow:hidden;
  border-top:3px solid #fff;
  padding-top:20px;
}
#sidebar .twitter .tweet .image-placer{
  width:52px;
  float:left;
  margin:3px 8px 0 0;
}
#sidebar .twitter .tweet .tweet-text{
  width:204px;
  float:left;
}
#sidebar .twitter .tweet p{
  margin:0;
  padding:0 0 14px;
}
#sidebar .twitter .tweet:first-child{border:none;}
#sidebar h4{
  color:#fff;
  font-size:22px;
  font-weight:normal;
  text-align:center;
  width:325px;
  background:#000;
  line-height:normal;
  margin:0 0 18px -27px;
  padding:12px 0;
}
#sidebar .projects{min-height:400px;}
#sidebar p{
  font-size:14px;
  line-height:19px;
  padding-bottom:15px;
}
#sidebar .info_box p, .box p {
  color: #fff;
}
#footer{
  background:#e3e4e6 url(../images/bg-footer.gif) repeat-x;
  min-height:133px;
}
#footer .address-box{
  padding: 20px 5px 48px 10px;
  width: 955px;
  margin:0 auto;
  overflow:hidden;
}
#footer .address-box address{
  font-style:normal;
  float:left;
  margin-left:240px;
  font-size:12px;
  line-height:21px;
}
#footer .address-box address:first-child{margin:0;}
#footer .address-box address span{
  display:block;
}
#footer .address-box address strong{
  color:#9da9ae;
  text-transform:uppercase;
  font-size:14px;
  line-height:18px;
  display:block;
  padding-bottom:10px;
  font-weight:normal;
}
#footer .address-box .mail{
  color:#fff;
  text-decoration:none;
}
#footer .address-box .mail:hover{text-decoration:underline;}
.footer-holder{
  width:970px;
  margin:0 auto;
  text-align:center;
  padding-bottom:40px;
}
.footer-holder .copy{
  color:#9da9ae;
  text-transform:uppercase;
}
/*add css styles*/
.team #content #team h3{
  margin:0 0 40px;
  font-size:30px;
  line-height:32px;
}
.team .text{
  float:right;
  width:385px;
}
.team .about{
}
.team #content #team .about h3 {
  margin: 0 0 20px;
}

.team #content #team .team-box .about p {
  padding: 0 0 10px;
}
.team #content #team .team-box .photo-placer{
  margin:0;
  padding:75px 0 0;
}
.team #content #team .team-box p{
  margin:0;
  padding:0 0 35px;
  font-size:18px;
  line-height:26px;
}
.meta{
  width:100%;
  overflow:hidden;
  margin:0;
  padding:44px 0 0;
  list-style:none;
}
.meta li{
  float:left;
  height:28px;
  padding:0 0 0 57px;
}
.meta li:first-child{padding:0;}
.meta li a{
  float:left;
  height:28px;
  line-height:28px;
}
.meta li a.email_ico{
  background:url(../images/email_ico.png) no-repeat 0 70%;
  padding:0 0 0 48px;
}
.meta li a.twitter_ico{
  background:url(../images/twitter_ico.png) no-repeat 0 50%;
  padding:0 0 0 51px;
}
.meta li a.github_ico{
  background:url(../images/github_ico.png) no-repeat 0 50%;
  padding:0 0 0 41px;
}
.meta li a.cv_ico{
  background:url(../images/cv_ico.png) no-repeat;
  padding:0 0 0 41px;
}
.team #content #team{overflow:visible;}
.team #content #team .team-box, .team-box{
  box-shadow: 0 0 6px #777;
  -moz-box-shadow:0 0 6px #777;
  -webkit-box-shadow:0 0 6px #777;
  padding:25px 22px;
}
.inner #sidebar{
  padding:17px 15px 0;
  width:291px;
}
.inner #sidebar h4{margin:0 0 27px -17px;}
.widgets{
  list-style:none;
  margin:0;
  padding:0;
}
.widgets li{
  background:url(../images/ruby.png) no-repeat 0 3px;
  padding:0 10px 30px 38px;
  font-size:18px;
  line-height:26px;
}
.photos_widget{
  margin:0 auto;
  width:270px;
  overflow:hidden;
  padding:0;
  list-style:none;
}
.photos_widget li{
  width:270px;
  overflow:hidden;
  padding:0 0 35px;

}
.photos_widget li img{
  display:block;
  -moz-box-shadow: 0 0 10px #444;
  -webkit-box-shadow: 0 0 10px #444;
  box-shadow: 0 0 10px #444;

  }
.inner #header{height:199px;}
.inner #header .logo{
  background:url(../images/inner_logo.png) no-repeat;
  margin:11px 16px 0 0;
}
.main_box{
  padding:55px 0 0;
  width:100%;
}
.main_box:after, .technology:after{
  height: 0;
  clear: both;
  content: "";
  display: block;
}
.technology{
  width:100%;
  margin:0;
  padding:0;
  list-style:none;
}
.technology li{
  float:left;
  width:290px;
  min-height:255px;
  padding:6px 10px;
  background:#fff;
  box-shadow: 0 0 6px #777;
  -moz-box-shadow:0 0 6px #777;
  -webkit-box-shadow:0 0 6px #777;
  margin:0 0 72px 19px;
}
.technology li:first-child{margin-left:0;}
.technology_logo{
  width:100%;
  padding:0 0 10px;
}
.technology_logo img{
  display:block;
  margin:0 auto;
}
.technology li p{
  font-size:18px;
  line-height:26px;
  color:#444;
  margin:0 0 15px;
  padding: 0 5px;
}
.job_widget ul.widgets li{
   padding: 0 0 20px 38px;
   font-size:18px;
   line-height:26px;
}
#sidebar .info_box p{
  font-size:18px;
  line-height:24px;
  text-align:center;
  padding:0 0 20px;
  margin:0;
}
.main_bg{background:url(../images/main_bg.jpg) no-repeat 50% 0;}
.info_box p a{color:#fff;}
.job_title{
  width:100%;
  min-height:606px;
  padding:68px 0 0;
}
.job_title h1{
  text-align:center;
  line-height:1.2em;
  text-transform:uppercase;
  font-size:54px;
  font-weight:normal;
}
.job_content{
  width:100%;
  padding:50px 0 40px;
}
.job_content h3{
  font-size:30px;
  font-weight:normal;
  line-height:36px;
  color:#4c616a;
  text-align:center;
  padding:0 30px;
}
.inner .content-title h2{
  font-size:50px;
  line-height:100px;
  padding:0;
  height:100px;
  overflow:hidden;
}
.work_wrap{
  width:100%;
  padding:0 0 50px;
}
.work_wrap:after {
  height: 0;
  clear: both;
  content: "";
  display: block;
}
.work_box{
  width:412px;
  height:480px;
  padding:24px 24px 0;
  margin:0 0 0 25px;
  float:left;
  background:#fff;
  box-shadow: 0 0 6px #777;
  -moz-box-shadow:0 0 6px #777;
  -webkit-box-shadow:0 0 6px #777;
  color:#212122;
  overflow:hidden;
}
.first_work_box{margin-left:0;}
.work_title{
  width:100%;
  overflow:hidden;
}
.work_title h3{
  float:left;
  font-size:30px;
  line-height:1.2em;
  font-weight:normal;
}
.work_title a{
  float:right;
  padding:17px 0 0;
  font-size:14px;
  color:#4c616a;
}
.gallery{
  width:100%;
  position:relative;
  overflow:hidden;
}
.gallery ul{
  margin:0;
  padding:0;
  list-style:none;
  width:100%;
  height:370px;
  overflow:hidden;
}
.gallery ul li{
  float:left;
  height:370px;
  width:412px;
  overflow:hidden;
}
.gallery ul li img{
  display:block;
  margin:0 0 10px;
}
.gallery ul li p{
  font-size:18px;
  line-height:22px;
  padding:0 5px;
}

address.primary {
  position: absolute;
  top: 0;
  right: 80px;
}

address.primary a {
  float: left;
  margin: 0 10px 0 0;
  padding: 5px 20px 4px 20px;
  color: white;
  -webkit-box-shadow: 0 2px 6px #202124;
  -moz-box-shadow: 0 2px 6px #202124;
  box-shadow: 0 2px 6px #202124;
  background-color: #AE1F23;
  font-style: normal;
}

.btn {
  padding: 7px 12px;
  border: 1px solid #777;
  border-radius: 4px;
  text-shadow: 0 2px 6px #201224;
}

.btn.red {
  color: white;
  background-color: #AE1F23;
}

.error {
  color: red;
}

ul.learn-info {
  float: right;
  margin: 0;
  list-style: none;
}
ul.learn-info li{
  height: 80px;
  width: 133px;
  padding: 14px 0 0 14px;
  float: left;
  margin: 0 3px;
  background-color: #eee;
  border: 1px solid;
  border-radius: 5px;
}

ul.learn-info li strong {
  color: black;
  display: block;
  margin: 0 0 3px 0;
}

ul.learn-info li div.text {
  color: black;
  font-size: 13px;
}

.price {
  padding: 5px 0;
  color: #777;
}
.text_field {
  font-size: 1.5em;
/*  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;*/
}